<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/assets/styles.css" type="text/css">
    <title>EuDoutor</title>
    <link rel="shortcut icon" href="img/icons8-médico-80.png" type="image/x-icon">
</head>

<body>
    <div class="container">
        <div class="box">
            <h1 class="txt_up">Login</h1>
            <form action="/login" method="post">
                <div class="center">
                    <img src="" alt="">
                    <!-- Imagem logo medico ou paciente -->
                </div>
                <div class="center">
                    <label>Email:</label>
                    <input type="email" name="email">
                    <br><br>
                </div>
                <div class="center">
                    <label>Senha:</label>
                    <input type="password" name="password">
                    <br><br>
                </div>
                <button type="submit" class="center">Logar!</button>
            </form>
            <p class="txt_down">Não possui um cadastro? <a href="/register">Faça seu cadastro.</a></p>
            <br>
            <p><a href="/landing_?">Continue navegando sem cadastro</a></p>
       </div>
    </div>
</body>

</html>