<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/assets/cadastro.css" type="text/css">
    <title>EuDoutor</title>
    <link rel="shortcut icon" href="/public/assets/img/icons8-médico-80.png" type="image/x-icon">
</head>

<body>
    <div id="container">     
        <h2 id="EuDoutor">EuDoutor</h2>
        <div id="box">
            <img src="/public/assets/img/icons8-médico-80.png" alt="" id="medico">
            <h1 id="txt_up">Cadastre-se</h1>
            <form action="/register" method="post" id="content">
                <div id="center">
                    
                </div>
                    <div id="centerr">
                    <label id="nome1">Nome: </label>
                    <input type="text" name="name" id="nome">
                    <br><br>
                </div>
                <div id="center2">
                    <label id="email1">Email: </label>
                    <input type="email" name="email" id="email">
                    <br><br>
                </div>
                <div id="center3">
                    <label id="senha1">Senha: </label>
                    <input type="password" name="password" id="senha">
                    <br><br>
                </div>
                <button type="submit" id="center1">Criar conta</button>
            </form>
            <p id="txt_down">Já possui cadastro? <a href="/login" id="cdst">Faça seu login.</a></p>
            <p id="opcao">Quer continuar navegando <a href="/landing_?" id="cdst">sem cadastro?</a></p>
        </div>
    </div>
</body>

</html>